.row {
	margin-bottom:1em;
}

.highlighted {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
}
@media (max-width: 990px) {
	.highlighted {
		margin-bottom: 1em
	}
	.row {
		margin-bottom: 0
	}
}
.highlighted h3 {
	margin-top:5px;
}
.big {
	position: relative;
}
.big label {
	display: none;
}
.big input {
	font-size:1.6em;
	width:100%;
	outline:none;
}

select {
	width: 100%;
}

.r1 .highlighted {
	min-height:127px;
}

.dd {
	position: absolute;
	top: 38px;
	background: #fff;
	width: 100%;
	border: #ccc 1px solid;
	font-size:1.5em;
	z-index: 1;
	padding:0 0 0.5em;
	max-height:300px;
	overflow: auto;
}

.dd .ac {
	-webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
	transition: all 0.3s;
	padding:0.5em 0 0 0.2em;
	border-bottom:#ccc 1px solid;
}
.dd .selected {
	background: orange;
}